<div class="header">
  <header>
    <div class="navcontainer">
      <nav class="fixednav">
        <div class="leftnav"><a href="#">LittleSHOP</a><img src='/little_shop_logo.png' class="shop-logo"></div>
        <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
        <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
        <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
      </nav>
    </div>
  </header>
</div>
