<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a></div>
          <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <h2>Edit <%= @merchant.name %></h2>
  </section>
  <main class='new_merchant_field'>
    <form action="/merchants/<%= @merchant.id %>" method='POST'>
    <input type='hidden' name='_method' value='PUT' />
      <label for="fname">Name</label>
      <input type='text' name='merchant[name]' placeholder=<%= @merchant.name %> value='update merchant'>
      <input type='submit' value='update merchant' class='create_link'/>
      <a href="/merchants/<%= @merchant.id %>" class='create_link'>cancel</a>
    </form>
  </main>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
</body>
</html>
