<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet"> -->
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a></div>
          <div class="rightnav"><a href="#" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="#" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="#" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <h2>ITEMS</h2>
    <a href='/items/new'>Create A New Item</a>
  </section>
  <table class="items_table">
    <% @items.each do |item| %>
    <tr>
      <td><img src='<%= item.image_url %>'/></td>
      <td><a href="/items/<%= item.id %>" class="hvr-pop"><%= item.name %></a></td>
      <td><h3>$<%= item.unit_price %></h3></td>
    </tr>
    <% end %>
  </table>
</body>
</html>
