<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a></div>
          <div class="rightnav"><a href="#" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="#" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="#" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <section>
    <h2>Create New Item</h2>
  </section>
  <main class='new_item_field'>
    <form action="/items" method='POST'>
      <label for="fname">Title</label>
      <input type='text' name='item[name]' placeholder='Item name' value='update item'>
      <label for="fdescription">Description</label>
      <input type='text' name='item[description]' placeholder='Item description' value='update item'>
      <label for="fprice">Unit Price</label>
      <input type='text' name='item[unit_price]' placeholder='Item description' value='update item'>
      <label for="fdescription">Image URL</label>
      <input type='text' name='item[image_url]' placeholder='Item image url' value='update item'>
      <label for="fmerchant">Merchant</label>
      <input type='text' name='item[merchant_id]' placeholder='Item Merchant Id' value='update item'>
      <input type='submit' value='update item' />
      <div class="single_item_button">
        <a href='/items'><input type='submit' value='create'>create item</a>
        <a href='/items'>cancel</a>
      </div>
    </form>
  </main>
</body>
</html>
