html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Didact Gothic', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: black;
  padding: 1em;
}

.fixednav {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 6em;
  background-color: #6A959D;
}

.leftnav {
  font-family: 'Comfortaa', cursive;
  font-weight: 900;
  font-size: 2em;
  flex-grow: 1;
}

.leftnav a {
  color: #FFD3AA;
  text-decoration: none;
}

.rightnav a {
  text-decoration: none;
  color: white;
  font-size: 1.6em;
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

a:first-child {
  margin-right: auto;
}

section {
  border-bottom: 2px solid #6A959D;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.single_merchant_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.new_merchant_field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new_merchant_field form {
  padding: 1em;
}

.create_link {
  display: inline-block;
  position: relative;
  padding: 12px 16px;
  top: 0;
  font-size: 1.2em;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 101, 125, 0.5 );
  background: #FFD3AA;
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  margin: .5em;

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.create_link a {
  color: white;
  padding: 0;
  margin: 0;
}

.create_link:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 1, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.create_link:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 1, 60, 0.0 );
  background: silver;
}

h2 {
  font-weight: 900;
}

.merchants_table {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-left: 10%;
}

.merchants_table .create_link {
  padding: 5px 6px;
  font-size: 1em;
  margin: .5em;

  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.merchants_table input[type=submit]:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 1, 60, 0.2 );

  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.merchants_table input[type=submit]:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 1, 60, 0.0 );
  background: silver;
}

.merchants_table tr td:first-child {
  border-left: 1px solid transparent;
  transition-timing-function: linear;
}

.merchants_table tr td:first-child:hover {
  background: linear-gradient(#FFD3AA, #FFD3AA) left /2% 3px no-repeat,
    white
}

form label {
  display: block;
  padding: .2em;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.form_reset {
  margin-bottom: 0;
}

td img {
  width: 10%;
}
