@import url("base.css");
@import url("table.css");
@import url("nav_bar.css");
@import url("link_and_button.css");
@import url("forms.css");
@import url("pagination.css");

.center-heading {
  text-align: center;
}

.single-item-container {
  display: flex;
}

.individual-item {
  width: 85%;
}

.single-item-container article {
  align-items: left;
  width: 50%;
  margin-right: 10%;
}

.item-container {
  padding: .5%;
  margin: 2%;
  width: 20%;
}

.item-text {
  text-align: center;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.new_item_field {
  margin-top: 1%;
}
