<html>
<head>
  <title>Little Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Monoton" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
  <div class="header">
    <header>
      <div class="navcontainer">
        <nav class="fixednav">
          <div class="leftnav"><a href="#">LittleSHOP</a><img src='/little_shop_logo.png' class="shop-logo"></div>
          <div class="rightnav"><a href="/merchants" class="hvr-pop">Merchants</a></div>
          <div class="rightnav"><a href="/items" class="hvr-pop">Items</a></div>
          <div class="rightnav"><a href="/invoices" class="hvr-pop">Invoices</a></div>
        </nav>
      </div>
    </header>
  </div>
  <div class="index-page-container">
    <a href="/merchants" class="reset-link" id="merchant-index-link">
    <article class="index-page hvr-pop" >
      <i class="fas fa-store-alt"></i>
      <h2>Merchant Index</h2>
    </article>
    <a href="/items" class="reset-link" id="item-index-link">
    <article class="index-page hvr-pop">
      <i class="fas fa-box-open"></i>
      <h2>Item Index</h2>
    </article>
    <a href="/invoices" class="reset-link" id="invoices-index-link">
    <article class="index-page hvr-pop">
      <i class="fas fa-file-invoice"></i>
      <h2>Invoice Index</h2>
    </article>
  </div>
  <footer>
    <p>Created by Keegan, JP, and Lucas<p>
  </footer>
</body>
</html>
<!-- <i class="fas fa-chart-bar"></i> -->
<!-- <i class="fas fa-file-invoice"></i> -->
<!-- <i class="fas fa-store-alt"></i> -->
<!-- <i class="fas fa-box-open"></i> -->
